.ProductCard {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  // min-height: 280px;
  // align-items: left;
  justify-content: left;
  cursor: pointer;
  // h2 {
  //   font-size: 25px;
  //   text-align: center;
  // }
  // &:hover {
  //   box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.295);
  // }
  padding: 10px;
}
.ProductImg {
  width: 280px;
  height: 277px;
  background-color: red;
}
.ProductName {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 8px 0;
}
.ProductPrice {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  color: #000000;
  padding: 9px 0 4px;
}
.ProductStatus {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #51ad33;
  text-transform: lowercase;
}
.ProductBlock {
  display: flex;
  justify-content: space-between;
}
.ProductData {
  display: flex;
  flex-direction: column;
}
.ProductIcon {
  width: 27px;
  height: 27px;
  color: #51ad33;
  margin: 10px 21px;
}
