.CategoriesWrapper {
  border: 1px solid #000;
  width: 100%;
}
.CategoryWrapper {
  border: 1px solid rgb(47, 0, 134);
}
.CategoryCard {
  background: rgb(93, 123, 187);
  padding: 10px;
}
.CildrenCategoryWrapper {
  background: rgb(143, 220, 240);
}
.ChildCategoryCard {
  padding: 10px;
  padding-left: 30px;
  border-bottom: 1px solid #000;
}
