.Footer {
  height: 320px;
  color: #fff;
  background-color: #000;
  padding-top: 65px;
  font-size: 12px;
}

.FooterGrid {
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 133px;
  margin-right: 147px;

}
@media screen and (max-width: 1024px) {
  .FooterGrid {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .Footer {
    min-height: auto;
  }
}